<% provide(:title, "About") %>
<article id="bio">
<p><%= image_tag "author-ss.jpg", class:"profile-pic" %>I grew up in Centralia, Illinois, a small former railroad town in corn country. I graduated from Stanford in 2002 with honors in Architecture and Urban Design.</p>
<p>I lived in Malaysia from 2002 to 2003, courtesy of a Fulbright Scholarship. It was a memorable year during which I met a lot of inspiring people and made a short film. The highlight of the film remains my somewhat sadistic staging of <a href="http://youtu.be/VIs0LJ8RDlY" target="_blank">a durian eating contest</a>.</p>
<p>I lived in New York City from 2003 to 2010, and have the Strand tote bag to prove it.</p>
<p>Beginning in 2012, I taught myself to code. I offer <a href="http://www.stephsun.com/design" target="_blank">graphic design and web development services for authors and publishers</a> and also work as the Front-End Developer at Worldreader.</p>
<p>I live in San Francisco.</p>
</article>