<% provide(:title, "About") %>
<article id="bio">
<p>Spineless is eBooks done completely wrong.</p>
<p>We would try to learn what an EPUB manifest is, but it would cut into our drinking time too much.</p>
<p>We could finish writing this About page, but that would also cut into our drinking time too much.</p>
<p>Don't overthink life, just start reading: [link here]</p>
</article>