<article>
	<h2>Welcome to Spineless</h2>
	<p>Spineless is a Rails app built for reading book-length texts on the web.</p>
</article>
<article id="books">
	<h2>Public Domain Books</h2>
	<p class="covers">
	<%- Book.display.each do |book| %>
		<%= link_to image_tag(book.cover_image_url, alt: book.title), book_path(book) %> 
	<%- end %>
	</p>
</article>
<article id="help">
	<h2>Help</h2>
	<h3>Basic Navigation</h3>
	<p>When you open a book on Spineless, you will see one or two orange links at the bottom of the browser window:</p>
	<p><a href="">Back</a> on the left, and <a href="">Next</a> on the right.</p>
	<p>Back goes back one chapter and Next skips to the beginning of the next chapter. You might have to train yourself to avoid clicking these when you just want to scroll forward one page.</p>
	<p>For clicking to the next page, you will use the arrows on the middle of the right-hand side of the browser window:</p>
	<p style="text-align: center"><%= image_tag "up-down.png", alt: "Orange up and down arrows" %></p>
	<p>Clicking the down arrow will advance one page. Clicking the up arrow will go back one page. The up arrow stops working at the beginning of a section. The down arrow stops working at the end of a section or chapter. The arrows will not appear at all if the content of the section fits within your browser window.</p>
	<h3>Logo</h3>
	<p>The book logo appears in the top left of the window throughout the book. Click it to go to the cover page of the book.</p>
	<h3>Table of Contents</h3>
	<p>Click on the icon that looks like a squiggly orange line in the top right of the window to open the Table of Contents:</p>
	<p><figure class="help-icon toc"></figure></p>
	<p>This menu works like Kindle&rsquo;s Table of Contents. Click on the link to go to the beginning of that chapter. (Unlike on Kindle, the links are shareable.)</p>
	<h3>Bookmarking and Sharing</h3>
	<p>Bookmark options are available in the main menu. Click on the orange plus sign to open bookmark links:</p>
	<p><figure class="help-icon main"></figure></p>
	<p>If you are not signed in, you will only see one bookmark option: <a href="">Get Bookmark</a>.</p>
	<p>Clicking this link will generate an entry in your browser history that stores the book you are reading, the chapter you&rsquo;re currently on, and how much progress you&rsquo;ve made in the chapter so far.</p>
	<p>You can then add your current page to your Bookmarks or Reading List to come back to the same part of the same book at any time.</p>
	<p>Alternatively, you can email it to yourself or to someone else to access that page on another device.</p>
	<h3>Creating and Using an Account</h3>
	<p>If you want Spineless to store your bookmarks for you, you can create an account.</p>
	<p>Click on the orange plus sign and then click <a href="">Sign Up</a>.</p>
	<p>Fill out the form.</p>
	<p>You should now see a profile page. The &ldquo;All Readers&rdquo; button links to a list of all readers in the system. On this list, if the reader has bookmarks stored, you should see the titles of the books they are reading next to their name.</p>
	<p>Additionally, if you click on the plus sign now, you should see a <a href="">Profile</a> link where the <a href="">Login</a> link had been. Click on this anytime to see your profile page and any bookmarks you have saved.</p>
	<p>When reading any Spineless book, you should also now see an additional bookmark link when you click on the plus sign: <a href="">Save Bookmark</a>. Clicking this will do everything <a href="">Get Bookmark</a> did and also save the link and display it on your profile page.</p>
	<h3>Resizing Window or Changing Screen Orientation</h3>
	<p>Auto-resizing of content to your window or screen orientation changes is under development. Until then, it&rsquo;s recommended that you use the orientation lock on your device to make the reading experience more predictable.</p>
	<p>Alternatively, if you click <a href="">Get Bookmark</a> first, then change your window size or screen orientation, and then refresh your browser, you should be nearby where you stopped reading with all text reflowed to your new window size.</p>
	<h3>Cheats</h3>
	<p>If you are using Safari to browse, you can toggle Reader Mode to read instead of using Spineless&rsquo;s navigation.</p> 
	<p>If you have developer tools installed for your browser, you can block Javascript to make Spineless behave more like a normal website. You can scroll through an entire chapter&rsquo;s text like any other web page.</p>
</article>