<% provide(:title, "twee typewriter artisan tote bag") %>
<p>
Slow-carb pabst kickstarter, ramps keffiyeh crucifix chicharrones actually occupy tousled selvage.
</p>
<p>
<%= link_to "Sign up now!", 'static_pages/login', class: "btn" %>
</p>