/* Meta Stuff */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/lato_300-e1e317ac5cf8e775830cf5c8589a781d111b21b1cecfe578b98fe15faa7313f2.woff) format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/lato_400-5b08d23162db012a2dc8a39550182ec7ff7d7988e494e8bf50a43724f33efbd8.woff) format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/lato_700-8b330dfc216b9c09645172ca0f6002942ff09a0ce23b8a035a3f019399e8de6c.woff) format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(/assets/lato_400_italic-df87fdef64016dccb4d9d5c98e14b468281b4c34a593981918ad5008db30041d.woff) format("woff");
}
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/lato_700_italic-54d8a5430a3f71dfe9d2937e75f351c62b8817f0e1df51823bfa1c0934161b30.woff) format("woff");
}
/* End Meta Stuff */
/* line 50, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 55, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
body {
  font-family: Lato, HelveticaNeue-Light, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  background: #414141;
  font-weight: 400;
  box-shadow: 0 0 45px #181818 inset;
}

/* line 63, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 68, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
.clearfix:after {
  clear: both;
}

/* line 72, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
h1, h2, h3 {
  font-weight: 300;
}

/* line 73, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
h1 {
  font-size: 4em;
  margin: 0;
}

/* line 74, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
h2 {
  font-size: 2em;
}

/* line 75, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
p {
  font-size: 1.5em;
  position: relative;
  text-align: left;
}

/* line 76, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
a, a:visited, input {
  color: #FF9900;
  text-decoration: none;
}

/* line 77, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
a:hover, a:active, .here, input:hover {
  color: black;
}

/* line 80, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav h1, header > nav p {
  display: block;
  float: left;
}
/* line 84, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav h1 {
  width: 60%;
}
/* line 85, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav p {
  width: 40%;
}
/* line 86, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav h1 a img {
  display: block;
  width: 222px;
  max-width: 100%;
}
/* line 87, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav h1 a:hover img {
  opacity: 0.8;
}
/* line 88, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav p {
  text-align: right;
  margin: 0 0 1em 0;
  font-size: 1em;
}
/* line 90, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav p a {
  font-weight: 700;
  text-transform: uppercase;
}

/* line 94, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
#wrapper {
  width: 900px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em 4em;
  border-left: 1px solid #FF9900;
  border-right: 1px solid #FF9900;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #eee;
  box-shadow: 0 0 25px #000;
}

/* line 107, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
li {
  width: 33.3%;
  float: left;
  height: 50px;
  padding: 0;
  color: black;
}

/* line 114, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

/* line 122, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
li > a {
  font-size: 1em;
  text-transform: capitalize;
}

/* line 127, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
footer p {
  font-size: 12px;
  text-align: center;
}

/* line 131, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
.alert {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #000;
  padding: 1em;
  margin-bottom: 1em;
}

/* line 132, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
.alert-success {
  background: #FF9900;
}

/* line 134, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
a.btn, input.btn {
  width: 200px;
  display: block;
  margin: 2px auto;
  padding: 1em;
  border: 1px solid #FF9900;
  text-align: center;
  font-size: inherit;
  cursor: pointer;
  background: #fffff8;
  border-color: #FF9900;
}
/* line 136, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
a.btn:hover, input.btn:hover {
  background: none;
  border-color: #000;
}

/* line 141, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
p.cc {
  text-align: center;
}

/* line 143, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
#profile {
  max-width: 600px;
  margin: 0 auto;
}
/* line 147, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
#profile h3, #profile p {
  text-align: left;
  margin-bottom: 1em;
}

/* Form Helpers */
/* line 151, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
form {
  text-align: left;
  max-width: 400px;
  width: 100%;
  float: none;
  margin: 1em auto;
}

/* line 152, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
form label::after {
  content: ": ";
}

/* line 153, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
label.species-label {
  display: block;
}

/* line 154, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
select.species {
  height: 10em;
}

/* line 155, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
div.field_with_errors {
  display: inline;
  font-size: 1.5em;
  color: #FF9900;
}
/* line 155, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
div.field_with_errors input {
  border: 1px solid #FF9900;
}

/* line 156, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
#error_explanation {
  color: #FF9900;
}
/* line 156, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
#error_explanation p {
  margin: 0;
  font-size: 1em;
}

/* Mobile */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-width: 640px) {
  /* line 164, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
  #wrapper {
    padding: 1em;
  }
}
/* line 5, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook {
  margin-top: 10em;
}
/* line 6, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Dedication2 {
  margin-bottom: 1em;
}

/* line 8, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.75em;
}

/* line 13, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.Story {
  text-indent: 1.5em;
  margin: 0;
}

/* line 17, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.FrontMatter {
  text-indent: 0;
  text-align: center;
  margin-top: 0;
}

/* line 22, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Dedication1, #ebook p.Dedication2 {
  text-indent: 0;
  text-align: center;
  font-style: italic;
  margin: 0;
}

/* line 28, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Dedication2 {
  margin-bottom: 1em;
}

/* line 31, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.newyorker {
  margin: 1em 3em;
}

/* line 34, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook div.wrapper {
  margin: 1em;
}

/* line 37, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.Epigraph1 {
  text-indent: 0;
  margin: 0;
}

/* line 41, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Epigraph2 {
  text-indent: 0;
  text-align: right;
  font-size: 100%;
  margin: 0;
}

/* line 47, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.first {
  text-indent: 0;
  margin: 0;
}

/* line 51, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.last {
  margin-top: 0;
  text-indent: 1.5em;
}

/* line 55, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.thanks {
  margin-top: 0;
  text-indent: 0;
}

/* line 59, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
h2 {
  margin: 0;
  text-align: center;
  font-size: 150%;
  font-weight: normal;
}

/* line 65, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
h3 {
  margin-bottom: 12.0pt;
  margin-top: 0;
  text-align: center;
  font-size: 150%;
  font-weight: normal;
}

/* line 73, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
img {
  width: 100%;
}

/* line 77, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.sun {
  margin-top: 20%;
  margin-bottom: 0;
  font-size: 300%;
  font-weight: bold;
  width: 60%;
  max-width: 288px;
  margin-right: auto;
  margin-left: auto;
}

/* line 87, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.ninety {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* line 92, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.stencil {
  width: 60%;
  max-width: 364px;
  height: auto;
  margin: 1em auto;
  text-align: center;
}

/* line 99, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.charliecolumn {
  width: 100%;
  max-width: 700px;
  margin: 0.5em auto;
}

/* line 104, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.benchat {
  width: 100%;
  max-width: 600px;
  margin: 0.5em auto;
}

/* line 109, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.tripcapture {
  width: 40%;
  max-width: 146px;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

/* line 116, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.ouro {
  width: 33%;
  max-width: 138px;
  height: auto;
  margin: 2em auto;
  text-align: center;
}

/* line 124, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.tightcenter {
  text-align: center;
  margin: 0;
}

/* line 128, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.email {
  margin-top: 0;
  text-indent: 0;
  font-size: 90%;
  font-family: sans-serif;
  text-align: left;
}

/* line 135, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.blog {
  margin-top: 0;
  text-indent: 0;
  font-size: 90%;
  font-family: sans-serif;
}

/* line 141, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.pubs {
  margin-top: 0;
  text-indent: 0;
}

/* line 145, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.txtmsg {
  text-indent: 3em;
  margin: 0;
}

/* line 149, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.posttxt {
  margin-top: 1em;
  text-indent: 1em;
}

/* line 154, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
p.cc {
  font-size: 0.75em;
}

/* line 155, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
p.cc a img {
  width: auto;
}

/* line 156, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
p.cc a {
  border: none;
  text-decoration: underline;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

