/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


@font-face {
    font-family: 'Open Sans';
    src: asset-url('open_sans.woff') format('woff');
}

@font-face {
    font-family: 'Merriweather';
    src: asset-url('merriweather.woff') format('woff');
}
/* line 5, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook {
  font-family: Merriweather, HelveticaNeue, Helvetica, sans-serif;
}

/* line 6, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.5em;
}

/* line 11, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.Story {
  text-indent: 0.25in;
  margin: 0;
}

/* line 15, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.FrontMatter {
  text-indent: 0;
  text-align: center;
  margin-top: 0;
}

/* line 20, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Dedication1 {
  text-indent: 0;
  text-align: center;
  font-style: italic;
  margin-top: 20%;
  margin-bottom: 0;
}

/* line 27, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Dedication2 {
  text-indent: 0;
  text-align: center;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 40%;
}

/* line 34, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.newyorker {
  margin-left: 0.6in;
  margin-right: 0.6in;
  margin-top: 12pt;
  margin-bottom: 12pt;
}

/* line 40, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.wrapper {
  margin-top: 12pt;
  margin-bottom: 12pt;
  margin-left: 0.35in;
  margin-right: 0.35in;
}

/* line 46, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.Epigraph1 {
  text-indent: 0;
  margin: 0;
}

/* line 50, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Epigraph2 {
  text-indent: 0;
  text-align: right;
  font-size: 100%;
  margin: 0;
}

/* line 56, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.first {
  text-indent: 0;
  margin: 0;
}

/* line 60, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.last {
  margin-top: 0;
  text-indent: 0.25in;
}

/* line 64, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.thanks {
  margin-top: 0;
  text-indent: 0;
}

/* line 68, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
h2 {
  margin: 0;
  text-align: center;
  font-size: 150%;
  font-weight: normal;
}

/* line 74, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
h3 {
  margin-bottom: 12.0pt;
  margin-top: 0;
  text-align: center;
  font-size: 150%;
  font-weight: normal;
}

/* line 82, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
img {
  width: 100%;
}

/* line 86, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.sun {
  margin-top: 20%;
  margin-bottom: 0;
  font-size: 300%;
  font-weight: bold;
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 97, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.ninety {
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 104, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.benchat {
  width: 75%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

/* line 113, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.stencil {
  width: 60%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 122, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.charliecolumn {
  width: 100%;
}

/* line 125, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.tripcapture {
  width: 30%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 134, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.ouro {
  width: 15.6%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 143, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.sunthanks {
  width: 53%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 152, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.shadowextras {
  width: 10%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 161, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.signature {
  width: 35%;
  height: auto;
}

/* line 166, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.tightcenter {
  text-align: center;
  margin: 0;
}

/* line 170, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.email {
  margin-top: 0;
  text-indent: 0;
  font-size: 90%;
  font-family: sans-serif;
  text-align: left;
}

/* line 177, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.blog {
  margin-top: 0;
  text-indent: 0;
  font-size: 90%;
  font-family: sans-serif;
}

/* line 183, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.pubs {
  margin-top: 0;
  text-indent: 0;
}

/* line 187, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.txtmsg {
  text-indent: 0.75in;
  margin: 0;
}

/* line 191, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.posttxt {
  margin-top: 12pt;
  text-indent: 0.25in;
}

/* line 196, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
p.cc {
  font-size: 0.75em;
}

/* line 197, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
p.cc a img {
  width: auto;
}

/* line 198, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
p.cc a {
  border: none;
  text-decoration: underline;
}
/* line 7, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
body, html {
  margin: 0;
  padding: 0;
}

/* line 12, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
body {
  font-family: Open Sans, HelveticaNeue-Light, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  background: #efefef;
  font-weight: 400;
}

/* line 19, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 24, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
.clearfix:after {
  clear: both;
}

/* line 27, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
h1, h2, h3 {
  font-weight: normal;
}

/* line 30, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
h1 {
  font-size: 4em;
  text-transform: lowercase;
  letter-spacing: -8px;
  margin: 0;
}

/* line 31, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
h2 {
  font-size: 2em;
}

/* line 32, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
p {
  font-size: 1.5em;
  position: relative;
}

/* line 33, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
#wrapper {
  width: 900px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em 3em;
  box-shadow: 0 0 25px #ccc;
  -moz-box-shadow: 0 0 25px #ccc;
  -webkit-box-shadow: 0 0 25px #ccc;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  background: #fff;
}

/* line 48, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
li {
  width: 33.3%;
  float: left;
  height: 50px;
  padding: 0;
  color: black;
}

/* line 55, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

/* line 62, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
a:link, a:visited {
  text-decoration: none;
}

/* line 65, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
li > a {
  font-size: 1em;
  text-transform: capitalize;
}

/* line 69, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
li > a, li > a:visited, .box a {
  color: black;
}

/* line 72, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
.box a {
  border-bottom: 1px black solid;
}

/* line 75, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
li > a:hover, li > a:active, .box a:hover, .box a:active, .here {
  color: #FF9900;
}

/* line 78, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
.here {
  border-bottom: 1px black solid;
}

/* line 81, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
.box h1 a, a img {
  border: none;
}

/* line 84, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
a.btn {
  width: 200px;
  display: block;
  margin: 2px auto;
  padding: 1em;
  border: 1px solid #000;
}
/* line 86, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/static_pages.scss */
a.btn:hover {
  background: #fffff8;
  border-color: #FF9900;
}
