@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/lato_300-e1e317ac5cf8e775830cf5c8589a781d111b21b1cecfe578b98fe15faa7313f2.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/lato_400-5b08d23162db012a2dc8a39550182ec7ff7d7988e494e8bf50a43724f33efbd8.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/lato_700-8b330dfc216b9c09645172ca0f6002942ff09a0ce23b8a035a3f019399e8de6c.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url(/assets/lato_400_italic-df87fdef64016dccb4d9d5c98e14b468281b4c34a593981918ad5008db30041d.woff) format("woff"); }
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/lato_700_italic-54d8a5430a3f71dfe9d2937e75f351c62b8817f0e1df51823bfa1c0934161b30.woff) format("woff"); }
/* line 38, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
body, html {
  margin: 0;
  padding: 0; }

/* line 43, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
body {
  font-family: Lato, HelveticaNeue-Light, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  background: #333;
  font-weight: 400; }

/* line 50, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 55, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
.clearfix:after {
  clear: both; }

/* line 59, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav h1, header > nav p {
  display: block;
  width: 50%;
  float: left; }
/* line 64, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav h1 a:hover img {
  opacity: 0.8; }
/* line 65, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
header > nav p {
  text-align: right; }

/* line 68, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
h1, h2, h3 {
  font-weight: normal; }

/* line 71, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
h1 {
  font-size: 4em;
  text-transform: lowercase;
  letter-spacing: -8px;
  margin: 0; }

/* line 72, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
h2 {
  font-size: 2em; }

/* line 73, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
p {
  font-size: 1.5em;
  position: relative;
  text-align: left; }

/* line 74, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
#wrapper {
  width: 900px;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1em 4em;
  border-left: 1px solid #FF9900;
  border-right: 1px solid #FF9900;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  background: #eee; }

/* line 88, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
li {
  width: 33.3%;
  float: left;
  height: 50px;
  padding: 0;
  color: black; }

/* line 95, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
ul {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none; }

/* line 102, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
a:link, a:visited {
  text-decoration: none; }

/* line 105, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
li > a {
  font-size: 1em;
  text-transform: capitalize; }

/* line 109, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
li > a, li > a:visited, .box a {
  color: #FF9900; }

/* line 112, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
li > a:hover, li > a:active, .box a:hover, .box a:active, .here {
  color: black; }

/* line 115, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
footer p {
  font-size: 12px;
  text-align: center; }

/* line 118, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
a.btn {
  width: 200px;
  display: block;
  margin: 2px auto;
  padding: 1em;
  border: 1px solid #000;
  text-align: center; }
  /* line 120, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
  a.btn:hover {
    background: #fffff8;
    border-color: #FF9900; }

/* line 125, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
p.cc {
  text-align: center; }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-width: 640px) {
  /* line 128, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/0_layout.scss */
  #wrapper {
    padding: 1em; } }
/* line 5, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook {
  margin-top: 10em;
}
/* line 6, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook h2, #ebook p.Dedication2 {
  margin-bottom: 1em;
}

/* line 8, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.75em;
}

/* line 13, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.Story {
  text-indent: 0.25in;
  margin: 0;
}

/* line 17, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.FrontMatter {
  text-indent: 0;
  text-align: center;
  margin-top: 0;
}

/* line 22, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Dedication1, #ebook p.Dedication2 {
  text-indent: 0;
  text-align: center;
  font-style: italic;
  margin: 0;
}

/* line 28, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Dedication2 {
  margin-bottom: 1em;
}

/* line 31, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.newyorker {
  margin-left: 0.6in;
  margin-right: 0.6in;
  margin-top: 12pt;
  margin-bottom: 12pt;
}

/* line 37, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.wrapper {
  margin-top: 12pt;
  margin-bottom: 12pt;
  margin-left: 0.35in;
  margin-right: 0.35in;
}

/* line 43, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.Epigraph1 {
  text-indent: 0;
  margin: 0;
}

/* line 47, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.Epigraph2 {
  text-indent: 0;
  text-align: right;
  font-size: 100%;
  margin: 0;
}

/* line 53, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.first {
  text-indent: 0;
  margin: 0;
}

/* line 57, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.last {
  margin-top: 0;
  text-indent: 0.25in;
}

/* line 61, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.thanks {
  margin-top: 0;
  text-indent: 0;
}

/* line 65, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
h2 {
  margin: 0;
  text-align: center;
  font-size: 150%;
  font-weight: normal;
}

/* line 71, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
h3 {
  margin-bottom: 12.0pt;
  margin-top: 0;
  text-align: center;
  font-size: 150%;
  font-weight: normal;
}

/* line 79, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
img {
  width: 100%;
}

/* line 83, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.sun {
  margin-top: 20%;
  margin-bottom: 0;
  font-size: 300%;
  font-weight: bold;
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 94, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.ninety {
  width: 90%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 101, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.benchat {
  width: 75%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

/* line 110, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.stencil {
  width: 60%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 119, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.charliecolumn {
  width: 100%;
}

/* line 122, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.tripcapture {
  width: 30%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 131, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.ouro {
  width: 15.6%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 140, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.sunthanks {
  width: 53%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 149, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.shadowextras {
  width: 10%;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* line 158, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
div.signature {
  width: 35%;
  height: auto;
}

/* line 163, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
#ebook p.tightcenter {
  text-align: center;
  margin: 0;
}

/* line 167, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.email {
  margin-top: 0;
  text-indent: 0;
  font-size: 90%;
  font-family: sans-serif;
  text-align: left;
}

/* line 174, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.blog {
  margin-top: 0;
  text-indent: 0;
  font-size: 90%;
  font-family: sans-serif;
}

/* line 180, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.pubs {
  margin-top: 0;
  text-indent: 0;
}

/* line 184, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.txtmsg {
  text-indent: 0.75in;
  margin: 0;
}

/* line 188, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
.posttxt {
  margin-top: 12pt;
  text-indent: 0.25in;
}

/* line 193, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
p.cc {
  font-size: 0.75em;
}

/* line 194, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
p.cc a img {
  width: auto;
}

/* line 195, /Users/ss-air/Documents/sample_app/app/assets/stylesheets/books.scss */
p.cc a {
  border: none;
  text-decoration: underline;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

