<tr>
  <td>
    <%= link_to user.name, user %>
  </td>
  <td>
    <ul class="bookmarks left-align">
      <% user.books.uniq.each do |book| %>
        <%= tag.li link_to(book.title, book) %>
      <% end %>
    </ul>
  </td>
  <td>
    <%= link_to 'delete', user, method: :delete, data: { confirm: "Are you sure you want to delete #{user.name} permanently?" } if current_user.admin? && !current_user?(user) %>
  </td>
</tr>
