<% provide(:title, "Sign Up") %>
<h2>Sign up for Spineless</h2>
<p>Fill out your information and click submit to sign up.</p>
<form>
<label>
Username:
<input type="text" placeholder="boywizard13" />
</label>
<label>
Trope:
<select>
    <option value="Unreliable Narrator">Unreliable Narrator</option>
    <option value="Tiresome Ingenue">Tiresome Ingenue</option>
    <option value="Plucky Orphan">Plucky Orphan</option>
</select>
</label>
<input type="submit" value="submit" />
</form>