<a href="<%= link_path %>" class="icon-btn btn">
  <span class="primary-icon-head">
    <svg class="icon-btn-icon" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
      <polygon class="book-bottom" points="0,6 25,6 25,30 0,30" />
      <polygon class="book-top" points="0,6 20,0 20,24 0,30" />
    </svg> 
    Read
  </span>
  <%= button_text %>
</a>
