<li class="clearfix">
    <div class="one_four"><%= link_to book.title, book %></div>
    <div class="one_four"><%= book.slug %></div>
    <div class="one_four"><%= book.slug %></div>
    <div class="one_four"><%= link_to "delete", book, method: :delete, data: { confirm: "You sure?" } %></div>
</li>