              <li>
                <%= link_to 'Get Bookmark', request.original_url.html_safe, id: 'bookmark' %>
              </li>
              <%= tag.li(link_to('Save Bookmark', new_bookmark_path(book_id: @book.id, location: @location, scroll: Bookmark.new(scroll: @scroll).safe_scroll), id: 'new-bookmark')) if logged_in? %>
