        <div class="example-markup">
            <p>Example: </p>
            <pre><%= '<div class="cc-license">
    <p>
        This work is licensed under a license.
    </p>
</div>' %>
            </pre>
        </div>
