            <!-- Epigraph -->
            <div class="page" data-order="epigraph">
 <%= render partial: 'sidebar', locals: { sidebar_text: sidebar_text(page) } %>
                <div class="rendered-text">
                    <div class="epigraph-wrap">
                        <%= @book.epigraph.html_safe if @book.epigraph %>
                    </div>
                </div>
            </div>
