        <div class="example-markup">
            <p>Example: </p>
            <pre><%= "<blockquote>
	<p class=\"epi-quote\">&#147;Quote here.&#148;</p>
	<p class=\"epi-attribution\">Source</p>
</blockquote>" %></pre>
        </div>
