        <div class="example-markup">
            <p>Example: </p>
            <pre><%= '<blockquote>
	<p class="epi-quote">&ldquo;Quote here.&rdquo;</p>
	<p class="epi-attribution">&mdash;Source</p>
</blockquote>' %>
            </pre>
        </div>
