                <div class="sidebar">
                    S<span class="signature-num">#</span> &mdash; 
                    PP<span class="print-page-num">#</span> &mdash; 
                    <span class="page-num">#</span>
                </div>
