            <!-- Title Page -->
            <div class="page" data-order="title">
                <%= render partial: 'sidebar', locals: { sidebar_text: get_sidebar_string(page) } %>
                <div class="rendered-text">
                    <h1><%= @book.title %></h1>
                    <h2 class="author">by <%= @book.author %></h2>
                    <p class="buffcenter"><%= @book.subtitle %></p>
                </div>
            </div>
