<div id="ebook">
    <%- @book.sections.order(:order).each do |section| %>
        <div class="spread">
            <div class="page">
                <div class="sidebar">
                    1 &mdash; 1 &mdash; 1
                </div>
                <div class="rendered-text">
                    <%= section.text.html_safe %>
                </div>
            </div>
        </div>
    <%- end %>
</div>