<% provide(:title, "The Orientations") %>
<div id="scroll-wrap">
    <%= render 'books/o/index' %>
    <%= render 'layouts/cc' %>
</div>
<div id="book-nav">
    <nav class="up">
    Back
    </nav>
    <nav class="down">
    Next
    </nav>
</div>