<% provide(:title, @book.author) %>

<div id="scroll-wrap">
	<div id="ebook">
    <%= @book.sections.sort_by(&:order).first.text.html_safe %>
	</div>
</div>
<div id="book-nav">
    <nav class="up">
    Back
    </nav>
    <nav class="down">
    Next
    </nav>
</div>
    <%= render 'shared/books_js' %>