<% provide(:title, @book.author) %>

<div id="scroll-wrap">
    <%= render 'books/o/index' %>
</div>
<div id="book-nav">
    <nav class="up">
    Back
    </nav>
    <nav class="down">
    Next
    </nav>
</div>
    <%= render 'shared/books_js' %>