// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Development stuff */

@mixin box_sizing {
-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}
.debug_dump {
clear: both;
float: left;
width: 100%;
margin-top: 45px;
border: 1px solid #444; 
@include box_sizing;
}


$dk-orange: #FF9900;
$lt-orange: #fffff8;

@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 300;
src: asset-url('lato_300.woff') format('woff');
}
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
src: asset-url('lato_400.woff') format('woff');
}
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 700;
src: asset-url('lato_700.woff') format('woff');
}
@font-face {
font-family: 'Lato';
font-style: italic;
font-weight: 400;
src: asset-url('lato_400_italic.woff') format('woff');
}
@font-face {
font-family: 'Lato';
font-style: italic;
font-weight: 700;
src: asset-url('lato_700_italic.woff') format('woff');
}

body, html {
margin:0;
padding: 0;

}
body {
font-family: Lato, HelveticaNeue-Light, "Helvetica Neue", Helvetica, sans-serif;
font-size:1em;
text-align:center;
background: #414141;
font-weight: 400;
box-shadow: 0 0 45px #181818 inset;
}
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}
.clearfix:after {
clear: both;
}
header > nav {
    h1, p {
        display: block;
        width: 50%;
        float: left;
    }
    h1 a:hover img { opacity: 0.8; }
    p { text-align: right; }
}

h1, h2, h3 { font-weight: 300; }
h1 { font-size: 4em; margin: 0; }
h2 { font-size: 2em; }
p { font-size: 1.5em; position: relative; text-align: left; }
#wrapper {
width: 900px;
max-width:100%;
min-height: 100vh;
margin:0 auto;
padding: 1em 4em;
border-left: 1px solid $dk-orange;
border-right: 1px solid $dk-orange;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
position: relative;
background: #eee;
box-shadow: 0 0 25px #000;
}
li {
width: 33.3%;
float: left;
height:50px;
padding: 0;
color:black;
}
ul {
position: relative;
margin:0;
padding:0;
width:100%;
list-style-type:none;
}
a:link, a:visited {
text-decoration:none;
}
li > a {
font-size:1em;
text-transform:capitalize;
}
li > a, li > a:visited, .box a {
color: $dk-orange;
}
li > a:hover, li > a:active, .box a:hover, .box a:active, .here {
color:black;
}
footer p {
font-size: 12px; text-align: center;
}


.alert { font-size: 13px; font-weight: 700; color: #fff; text-align: center; background: #000; }
.alert-success { background: $dk-orange; }

a.btn, input.btn {
width: 200px; display: block; margin: 2px auto; padding: 1em; border: 1px solid #000; text-align: center; font-size: inherit; background: none; cursor: pointer;
    &:hover {
        background: $lt-orange;
        border-color: $dk-orange;
    }
}
p.cc { text-align: center; }

#profile {
    max-width: 600px;
    margin: 0 auto;
    h2 { }
    h3, p { text-align: left; margin-bottom: 1em; }
}

/* Form Helpers */
form { text-align: left; }
form label::after { content: ": "; }
div.field_with_errors { display: inline; font-size: 1.5em; color: $dk-orange; input { border: 1px solid $dk-orange; } }
#error_explanation { color: $dk-orange; p { margin: 0; font-size: 1em; } }

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-width: 640px) {
#wrapper { padding: 1em; }
}

@media only screen and (max-width: 480px) and (orientation: portrait), only screen and (max-device-width: 480px) and (orientation: portrait), only screen and (max-device-width: 640px) and (orientation: portrait) {

}
