// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#scroll-wrap {
	margin-top: 16px;
	height: 440px; 
	overflow: hidden;
	position: relative;
}

#ebook {

	/* #ebook Parent Element Styles */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	/* Principal Element Styles */
	img {
		max-width: 100%;
		height: auto;
	}
	figure {
		margin: 30px 0;
		text-align: center;
	}
	h2  {
		margin: 0;
		text-align: center;
		font-size: 36px;
		line-height: 45px;
		font-weight: 300;
		img {
			max-width:60%;
		}
	}
	h3  {
		margin: 0;
		text-align: center;
		font-size: 28px;
		line-height: 30px;
		font-weight: normal;
	}
	p {
		text-align: justify;
		font-size: 17px;
		line-height: 30px;
		text-indent: 1.5em;
		margin: 0;
	}

	/* Front Matter */
	p.epi-quote, p.epi-attribution {
		text-indent: 0;
		font-style: italic;
		margin: 0;
	}
	p.epi-quote { text-align: left; }
	p.epi-attribution { text-align: right; }
	div.cc-license p { text-indent: 0px; text-align: center; }

	

	/* Body */
	.first {
		text-indent: 0;
	}
	.last {
		margin: 0 0 30px 0;
	}
	.tightcenter, .buffcenter {
		text-align: center;
		text-indent: 0;
	}
	.buffcenter {
		margin: 30px 0;
	}

	/* Chapter Heads and Drop Caps */
	header.chapter-head {
		margin: 120px 0 30px 0;
	}
	p.first-of-chapter:first-letter { float: left; font-size: 3em; padding-top: 0.2em; padding-right: 8px; padding-left: 3px; font-style: normal; }

	/* Text within the text overrides */
	div.wrapper {
		margin: 30px 2.5em;
	}
	div.padded-center {
		margin: 30px;
		p { text-align: center; }
	}
	div.padded-left {
		margin: 30px;
		p { text-align: left; text-indent: 0; }
	}
	div.magazine-column {
		margin: 30px 3em;
	}
	div.text-wrapper {
		margin: 30px auto;
		width: 30em;
		max-width: 60%;
		font-style: italic;
		p { text-align: left; text-indent: 0; }
	}

	p.email, p.blog, p.pubs {
		font-weight: 300;
	}
	p.email  {
		text-indent: 0;
		text-align: left;
	}
	p.blog, p.pubs  {
		margin: 0;
		text-indent: 0;
	}
	p.blog.with-break, p.pubs.with-break, p.email.with-break, p.with-break {
		margin-bottom: 30px;
	}
	
	.dead-center {
		/* tbd */
	}
	
	
	
} /* Close #ebook */



/* Mobile */
@media only screen and (max-width: 640px) {


}