footer p, #ebook footer p { font-size: 12px; text-align: center; }
#ebook footer.cc-license p  { margin-bottom: 2em; }
#ebook footer.cc-license a img { width: auto; opacity: 0.5; }
footer.cc-license a { border: none; text-decoration: underline; color: inherit; }
footer.cc-license a:hover { color: #ccc; }