footer p, .cc-license p { font-size: 12px; text-align: center; }
.cc-license p  { margin-bottom: 2em; }
.cc-license a img { width: auto; opacity: 0.5; }
.cc-license a { border: none; text-decoration: underline; color: inherit; }
.cc-license a:hover { color: #ccc; }