// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$line-height: 30px !default;
$highlight: yellow;

#scroll-wrap {
	margin-top: 16px;
	overflow: hidden;
	position: relative;
}

#ebook {

	/* #ebook Parent Element Styles */
	position: relative;
	width: 100%;

	/* Principal Element Styles */
	section, header {
		position: relative;
	}
	section { 
		padding-top: $line-height*3;
	}
	img {
		max-width: 100%;
		height: auto;
    
    &.book-cover {
      max-width: 390px;
    }
	}
	figure {
		margin: $line-height 0;
		text-align: center;
		max-width: 100%;
	}
	h2  {
		margin: 0;
		text-align: center;
		font-size: $line-height*1.2;
		line-height: $line-height*2;
		font-weight: 300;
	}
	h3  {
		margin: 0;
		text-align: center;
		font-size: $line-height*0.925;
		line-height: $line-height;
		font-weight: normal;
	}
        h3.author { font-weight: 300; }
	p {
		text-align: justify;
		font-size: $line-height*0.567;
		line-height: $line-height;
		text-indent: 1.5em;
		margin: 0;
	}

	/* Front Matter */
  blockquote, div.cc-license { margin: $line-height 0px 0px 0px; padding: 0; }
	p.epi-quote, p.epi-attribution {
		text-indent: 0;
		font-style: italic;
		margin: 0;
	}
	p.epi-quote { text-align: left; }
	p.epi-attribution { text-align: right; }
	div.cc-license p { text-indent: 0px; text-align: center; }

	

	/* Body */
	.first {
		text-indent: 0;
	}
	.last, .aftercenter {
		margin: 0 0 $line-height 0;
	}
	.tightcenter, .buffcenter, .aftercenter {
		text-align: center;
		text-indent: 0;
	}
	.buffcenter {
		margin: $line-height 0;
	}
        ul, ol { 
            margin: $line-height 3em;
            padding: 0;
        }
        li {
            margin: 0;
            line-height: $line-height;
            padding: 0 1.5em;
            text-align: left;
            font-size: $line-height*0.567;
        }

	/* Chapter Heads and Drop Caps */
	header.chapter-head {
		margin-bottom: $line-height;
	}
	p.first-of-chapter:first-letter { float: left; font-size: 3em; padding-top: 0.2em; padding-right: 8px; padding-left: 3px; font-style: normal; }

	/* Text within the text overrides */
	div.wrapper {
		margin: $line-height 2.5em;
	}
	div.padded-center {
		margin: $line-height;
		p { text-align: center; }
	}
	div.padded-left {
		margin: $line-height;
		p { text-align: left; text-indent: 0; }
	}
	div.magazine-column {
		margin: $line-height 3em;
	}
	div.text-wrapper {
		margin: $line-height auto;
		width: 30em;
		max-width: 60%;
		font-style: italic;
		p { text-align: left; text-indent: 0; }
	}
	div.slide { 
		padding: $line-height;
		background: #fff;
		height: $line-height*12;
		width: 540px;
		max-width: 100%;
		margin: -1*$line-height auto;
		border: 1px solid #ccc;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	p.email  {
		text-indent: 0;
		text-align: left;
	}
	p.blog, p.pubs  {
		margin: 0;
		text-indent: 0;
	}
	p.blog.with-break, p.pubs.with-break, p.email.with-break, p.with-break {
		margin-bottom: $line-height;
	}
  pre {
    line-height: $line-height;
		font-size: $line-height*0.567;
    margin: $line-height*0.5 auto;
  }
	
	hr { background-color: #ccc; height: 1px; border:none; margin-top: $line-height*1-1; margin-bottom: $line-height; }
  
  sup, sub { font-size: $line-height*0.5; line-height: $line-height*0.5; height: $line-height*0.5; padding: 0; }
  sup { margin-bottom: $line-height*0.5; }
  sub { margin-top: $line-height*0.5; }
	

  /* Highlight FX */
  ::-moz-selection {
      background: $highlight;
      text-shadow: none;
  }
  ::selection {
      background: $highlight;
      text-shadow: none;
  }
} /* Close #ebook */

/* Lightbox */

#ebook figure img { cursor: pointer; }

#lightbox { 
	position: fixed;
	z-index: 19;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.9);
}
#lightbox .close {
	background: #fff;
	color: #000;
	right: 0;
	top: 0;
	cursor: pointer;
	position: fixed;
	padding: 4px 10px;
	z-index: 20;
	font-weight: 800;
}
#lightbox .close:hover {
	background: #ccc;
	color: #fff;
}




/* Mobile */
@media only screen and (max-width: 480px) and (orientation: portrait), only screen and (max-device-width: 480px) and (orientation: portrait), only screen and (max-device-width: 640px) and (orientation: portrait) {
		#lightbox { background-size: 80% auto; }
    #ebook img.book-cover { max-width: 100%; }
}
@media only screen and (max-width: 480px) and (orientation: landscape), only screen and (max-device-width: 480px) and (orientation: landscape), only screen and (max-device-width: 640px) and (orientation: landscape) {
		#lightbox { background-size: auto 100%; }
    #ebook img.book-cover { max-width: 100%; }
}
