$line-height: 21px;
$page-height: 714px;
$text-width: 5.8in;
$sidebar-width: 0.6in;
$page-width: $text-width+$sidebar-width;

@import "global";
@import "books";

body { margin: 0; padding: 0; }

/* 
 * Default Margins on Chrome are:
 * Left: 0.39in
 * Right: 0.38in
 * Top: 0.39in
 * Bottom: 0.38in
 */

#wrapper { width: $page-width*2; margin: 0 auto; padding: 0 0.01in 0 0; }

.spread { position: relative; width: 100%; page-break-after: always; margin-bottom: $line-height*2; }

.page { position: relative; width: $page-width; height: $page-height; overflow-y: hidden; float: left; }

    .rendered-text { width: $text-width; position: absolute; top: 0in; }
        .page:last-child .rendered-text { left: $sidebar-width; }
        .page:first-child .rendered-text { left: 0in; }

    .sidebar { position: absolute; height: $sidebar-width; width: $page-height; text-align: center; line-height: $sidebar-width; font-size: 10px; }
        .page:last-child .sidebar { transform-origin: 0in 0in; left: $sidebar-width; transform: rotate(90deg); }
        .page:first-child .sidebar { transform-origin: $page-height 0in; left: auto; right: $sidebar-width; transform: rotate(-90deg); }

        #ebook { hyphens: auto; }
        #ebook h1 { 
            font-size: $line-height*1.25;
            line-height: $line-height*1.5;
            text-align: center;
            width: 100%; 
            float: none; 
        }
        #ebook h1, .epigraph-wrap { margin-top: $line-height*8; }
  #ebook figure:before, #ebook figure:after, #ebook h2:before, #ebook h2:after {
	  content: " "; /* 1 */
	  display: table; /* 2 */
  }
  #ebook figure:after, #ebook h2:after {
	  clear: both;
  }
        .epigraph-wrap { position: relative; }
        #ebook p, #ebook li { font-size: $line-height*0.75; }
        #ebook img { max-width: none; width: auto; display: block; margin: 0 auto; }

@media only print {
    .spread { 
        margin-bottom: 0px;
    }
}

/* Test Classes */
.fake-textbox { width: 100%; height: 650px; }
#ebook img.fake-image { width: 100px; height: 100px; }
.fake-figure { width: 100%; height: 100px; }
