.clearfix:before, .clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}
.clearfix:after {
	clear: both;
}

.centered { text-align: center; }

@media only print {
    .screen-only { display: none; }
}