/* Meta Stuff */

$dk-primary: #2b71f2;
$md-primary: #79a4f2;
$lt-primary: #e1eafa;
$books-bg-color: #fff;

@mixin box_sizing {
-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}
@mixin round_corners {
border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em;
}
@mixin drop_cap {
	float: left; font-size: 3em; padding-top: 0.2em; padding-right: 8px; padding-left: 3px; font-style: normal; 
}
@mixin faux_3d_book {
  box-shadow: 0px -18px 0px $dk-primary, 18px 0px 0px $dk-primary, 18px -18px 0px $dk-primary; 
  margin: 18px 18px 0px 0px; 
  clip-path: polygon(0% 0%, 18px -18px, 108% -18px, 108% 95%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 18px -18px, 108% -18px, 108% 95%, 100% 100%, 0% 100%);
}
@mixin faux_3d_book_hover {
  box-shadow: 0px -18px 0px #c8c8c8, 18px 0px 0px #c8c8c8, 18px -18px 0px #c8c8c8; 
}

/* End Meta Stuff */

body, html {
	margin:0;
	padding: 0;
}

body {
	font-family: Lato, HelveticaNeue-Light, "Helvetica Neue", Helvetica, sans-serif;
	font-size:1em;
	text-align:center;
	background-image: asset-url('spiral_bg.png');
	background-position: center 0px;
	background-repeat: repeat;
	font-weight: 400;
}

h1, h2, h3 { font-weight: 300; }
h1 { font-size: 2em; margin: 0; }
h2 { font-size: 2em; }
p { position: relative; text-align: left; }

a, a:visited, input[type=submit] { font-weight: 700; color: $dk-primary; text-decoration: none; }
a:hover, a:active, .here, input[type=submit]:hover { color: #ccc; }

header#sticky-bar > nav {
    h1, p { display: block; }
    h1 { width: 50%; float: left; text-align: left; }
    h1 a img { display: inline-block; max-width: 100%; }
    h1 a:hover img { filter: grayscale(100%); opacity: 0.3; }
    div.nav-wrapper {
        float: right; width: 50%; font-size: 0.75em;
		ul.menu { 
			display: none; position: absolute; right: 0px; top: 40px; z-index: 99; width: 16em; padding: 1em; background: rgba(253,253,253,0.9); 
			li { text-align: right; margin: 0 0 1em 0; }
			a { text-transform: uppercase; }
		}
    .open ul.menu { display: block; }
		div#progress-bar { 
			height: 23px; border: 1px solid $dk-primary; margin: 0.5em; float: right; width: 50%; position: relative;
			span#progress { display: block; position: absolute; top: 0px; left: 0px; height: 23px; width: 0px; background: $dk-primary; }
		}
		div#progress-percent {
			color: $dk-primary; text-align: right; font-size: 1.35em; padding: 0.5em; margin-right: 0.5em; font-weight: 300; float: right;
		}
    }
	div.nav-wrapper > ul > li, figure.help-icon {
		width: 25px;
		height: 25px;
		cursor: pointer;
		background-size: auto 25px;
		background-repeat: no-repeat;
		background-image: asset-url('menu-icons-sprite.png'); 
		float: right;
		margin: 0.5em;
		padding-bottom: 3px;
		border-bottom: 1px solid transparent;
		span {
			display: block;
			width: 1px;
			height: 1px;
			text-indent: -999999px;
			overflow: hidden;
		}
		&.main { background-position: left 0px; }
		&.toc { background-position: right 0px; }
    &:hover { background-image: asset-url('menu-icons-sprite_gray.png'); }
		&.open { background-image: asset-url('menu-icons-sprite.png'); border-color: $dk-primary; }
	}
}
ul.menu { cursor: auto; }

figure.help-icon { 
		display: inline-block;
		width: 25px;
		height: 25px;
		background-size: auto 25px;
		background-repeat: no-repeat;
		background-image: asset-url('menu-icons-sprite.png'); 
		&.main { background-position: left 0px; }
		&.toc { background-position: right 0px; }
}


#wrapper {
	width: 900px;
	max-width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 16px 3em 3em 3em;
	@include box_sizing;
	position: relative;
	background: #fff;
}
    body.books.show #wrapper { background: $books-bg-color; }


ul {
	position: relative;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}

.alert { 
  font-size: 13px; font-weight: 700; text-align: center; padding: 1em; margin-bottom: 1em; 
  background: $lt-primary; color: $dk-primary; 
}
.alert.alert-success { margin-top: 0.2em; background: #f8f8f8; color: #aaa; }
.alert .close { float: right; margin-left: 1em; cursor: pointer; }
.alert .close:hover { color: #444; }

a.btn, input.btn {

	@include box_sizing;
	width: 200px; 
	display: block; 
	margin: 2px auto; 
	padding: 1em; 
	border: 1px solid $dk-primary; 
	text-align: center; 
	font-size: inherit; 
	cursor: pointer; 
	background: $lt-primary; 
	border-color: $dk-primary;
	
    &:hover {
        background: none;
        border-color: #ccc;
    }
}

#profile {
  @include box_sizing;
  max-width: 740px; 
  width: 100%;
  margin: 0 auto;
  float: none;
	
  h3, p { 
		text-align: left; 
		margin-bottom: 1em; 
	}
  
  th { width: 20%; }
  td { width: 80%; }
  li { line-height: 1.5; padding: 0.2em 0em; }
  li span { width: 100%; display: block; position: relative; }
  li span:last-child a { float: right; }
}
.bookmark-icon { width: 15px; height: 15px; fill: $dk-primary; }
a:hover .bookmark-icon { fill: #ccc; }

/* Homepage */
p.sample span { @include drop_cap; font-family: Times New Roman, serif; color: #ccc; }
div.catalog img { width: 64%; height: auto; @include faux_3d_book; }
div.catalog a:hover img { filter: grayscale(100%); opacity: 0.64; @include faux_3d_book_hover; }

/* Form Helpers */
form { @include box_sizing; @include round_corners; text-align: left; max-width: 600px; width: 100%; float: none; margin: 1em auto; background: #f8f8f8; padding: 1em; border: 1px solid #ccc; }
form label::after { content: ": "; }
label { display: block; }
input[type=text], input[type=email], input[type=password], textarea { 
  width: 100%; position: relative; @include box_sizing; 
    &:focus {
    background-color: $lt-primary;
    border: 1px solid $dk-primary;
    outline: none;
    box-shadow: 0px 0px 3px $dk-primary;
  }
}
textarea { height: 180px; }
div.field_with_errors { display: inline; font-size: 1em; color: $dk-primary; input { border: 1px solid $dk-primary; } }
#error_explanation { color: $dk-primary; p { margin: 0; font-size: 1em; } }
.form-nav-links { text-align: center; }
div.example-markup {
    color: #aaa;
    padding: 0px 1em 1em 1em;
}

/* Table Helpers */
table { border: 1px solid #ccc; text-align: left; min-width: 100%; }
th, td { width: 50%; padding: 1em; vertical-align: top; }
th:first-child, td:first-child { font-weight: 700; }

table.book-data-review {
	th, td { width: auto; }
	input[type=number] { width: 50px; }
	input[type=text] { width: 240px; }
	td:nth-child(3), td:last-child { text-align: right; }
}

/* Columns */
.one_two, .one_four { position: relative; text-align: left; float: left; margin: 1%; }
.one_two { width: 48%; }
.one_four { width: 23%; }
  body.users.index .one_four:last-child { text-align: right; }

/* Index Styles */
ul.app_index { @include box_sizing; position: relative; padding: 0em 1em; border: 1px solid #ccc; }
ul.app_index li { @include box_sizing; position: relative; width: 100%; border-bottom: 1px solid #ccc; padding: 1em; margin: 0; }
ul.app_index li:last-child { border-bottom: none; }

figure.index-logos { text-align: center; margin: 1em 0 0 0; width: 100%; clear: both; }
figure.index-logos img { max-width: 100%; height: auto; }

/* Navigation */
#book-nav {
	display: none;
	width: 48px;
	height: 104px;
	position: fixed;
	right: 1em;
	top: 50%;
	margin-top: -52px;
	nav { float: left; display: block; width: 48px; height: 47px; font-size: 0.001px; text-indent: -9999px; overflow: hidden; background-image: asset-url('up-down.png'); background-size: 100% auto; background-repeat: no-repeat; cursor: pointer; }
	nav:hover { filter: grayscale(100%) brightness(250%); opacity: 0.5; }
	nav.up { background-position: center top; margin-bottom: 10px; }
  nav.down { background-position: center bottom; }
}
#next-btn, #back-btn { 
  position: fixed; bottom: 0px; width: 60px; padding: 4px; height: 19px; 
  text-decoration: underline; background: rgba(255, 255, 255, 0.5);
}
#next-btn { right: 0px; }
#back-btn { left: 0px; }

/* Desktop No Margins */

@media only screen and (max-width: 900px) {
	#next-btn, #back-btn { background: $books-bg-color; }
}

/* Small Desktop */
@media only screen and (max-width: 730px) {
	div#progress-bar { display: none; }
  .one_four { width: 48%; }
  .one_four:nth-child(3) { clear: both; }
  body.users.index .one_four:last-child { width: 98%; }
}

@media only screen and (max-width: 570px) {
  .one_two, .one_four { width: 98%; text-align: center; }
}

/* Mobile */

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-width: 640px) {
  body { background-image: none !important; }
  body.books.show { background-color: $books-bg-color; }
	#wrapper { padding: 1em; min-height: 100%; box-shadow: none; }
  #book-nav { left: 1em; right: auto; filter: grayscale(100%); }
  #book-nav nav { opacity: 0.6; }
  #book-nav nav:hover { opacity: 0.3; }
}

@media only screen and (max-width: 480px) and (orientation: portrait), 
  only screen and (max-device-width: 480px) and (orientation: portrait), 
  only screen and (max-device-width: 640px) and (orientation: portrait) {
}