/* Meta Stuff */

@mixin box_sizing {
-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}
@mixin round_corners {
border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em;
}

$dk-orange: #FF9900;
$lt-orange: #fffff8;

/* End Meta Stuff */

body, html {
	margin:0;
	padding: 0;
}

body {
	font-family: Lato, HelveticaNeue-Light, "Helvetica Neue", Helvetica, sans-serif;
	font-size:1em;
	text-align:center;
	background-image: asset-url('snake_bg.png');
	background-position: center 0px;
	background-repeat: repeat;
	font-weight: 400;
}

::-moz-selection {
    background: $dk-orange;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: $dk-orange;
    color: #fff;
    text-shadow: none;
}

h1, h2, h3 { font-weight: 300; }
h1 { font-size: 2em; margin: 0; }
h2 { font-size: 2em; }
p { position: relative; text-align: left; }

a, a:visited, input[type=submit] { font-weight: 700; color: $dk-orange; text-decoration: none; }
a:hover, a:active, .here, input:hover { color:black; }

header#sticky-bar > nav {
    h1, p { display: block; }
    h1 { width: 50%; float: left; }
    h1 a img { display: block; max-width: 100%; }
    h1 a:hover img { opacity: 0.5; }
    div.nav-wrapper {
        float: right; width: 50%; font-size: 0.75em;
		ul.menu { 
			display: none; position: absolute; right: 0px; top: 40px; z-index: 99; width: 16em; padding: 1em; background: rgba(255,255,255,0.9); 
			li { text-align: right; margin: 0 0 1em 0; }
			a { text-transform: uppercase; }
		}
		div#progress-bar { 
			height: 23px; border: 1px solid $dk-orange; margin: 0.5em; float: right; width: 50%; position: relative;
			span#progress { display: block; position: absolute; top: 0px; left: 0px; height: 23px; width: 0px; background: $dk-orange; }
		}
		div#progress-percent {
			color: $dk-orange; text-align: right; font-size: 1.35em; padding: 0.5em; margin-right: 0.5em; font-weight: 300; float: right;
		}
    }
	div.nav-wrapper > ul > li, figure.help-icon {
		width: 25px;
		height: 25px;
		cursor: pointer;
		background-size: auto 25px;
		background-repeat: no-repeat;
		background-image: asset-url('menu-icons-sprite.png'); 
		float: right;
		margin: 0.5em;
		padding-bottom: 3px;
		border-bottom: 1px solid transparent;
		span {
			display: block;
			width: 1px;
			height: 1px;
			text-indent: -999999px;
			overflow: hidden;
		}
		&.open { border-color: $dk-orange; }
		&.main { background-position: left 0px; }
		&.toc { background-position: right 0px; }
	}
}

figure.help-icon { 
		display: inline-block;
		width: 25px;
		height: 25px;
		background-size: auto 25px;
		background-repeat: no-repeat;
		background-image: asset-url('menu-icons-sprite.png'); 
		&.main { background-position: left 0px; }
		&.toc { background-position: right 0px; }
}


#wrapper {
	width: 900px;
	max-width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 16px 3em 3em 3em;
	@include box_sizing;
	position: relative;
	background: #fff;
}
    body.books.show #wrapper { background: #eee; }


ul {
	position: relative;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}

.alert { font-size: 13px; font-weight: 700; text-align: center; background: #dedede; padding: 1em; margin-bottom: 1em; }
.alert-success { background: $lt-orange; color: $dk-orange; }

a.btn, input.btn {

	@include box_sizing;
	width: 200px; 
	display: block; 
	margin: 2px auto; 
	padding: 1em; 
	border: 1px solid $dk-orange; 
	text-align: center; 
	font-size: inherit; 
	cursor: pointer; 
	background: $lt-orange; 
	border-color: $dk-orange;
	
    &:hover {
        background: none;
        border-color: #000;
    }
}

#profile {
  @include box_sizing;
  max-width: 740px; 
  width: 100%;
  margin: 0 auto;
  float: none;
	
  h3, p { 
		text-align: left; 
		margin-bottom: 1em; 
	}
  
  th { width: 20%; }
  td { width: 80%; }
  li { line-height: 1.5; padding: 0.2em 0em; }
  li span { width: 100%; display: block; }
  li span:last-child a { width: 50%; display: block; text-align: right; float: right; }
}
.bookmark-icon { width: 15px; height: 15px; fill: $dk-orange; }
a:hover .bookmark-icon { fill: #000; }

/* Homepage */
p.covers { text-align: center; }
p.covers img { height: 300px; box-shadow: 10px 10px 0px $dk-orange; margin: 10px; }
p.covers a:hover img { opacity: 0.75; box-shadow: 10px 10px 0px #ccc; }

/* Form Helpers */
form { @include box_sizing; @include round_corners; text-align: left; max-width: 600px; width: 100%; float: none; margin: 1em auto; background: #f8f8f8; padding: 1em; border: 1px solid #ccc; }
form label::after { content: ": "; }
label { display: block; }
input[type=text], input[type=email], input[type=password], textarea { width: 100%; position: relative; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
textarea { height: 180px; }
div.field_with_errors { display: inline; font-size: 1em; color: $dk-orange; input { border: 1px solid $dk-orange; } }
#error_explanation { color: $dk-orange; p { margin: 0; font-size: 1em; } }
.form-nav-links { text-align: center; }
div.example-markup {
    color: #aaa;
    padding: 0px 1em 1em 1em;
}

/* Table Helpers */
table { border: 1px solid #ccc; text-align: left; min-width: 100%; }
th, td { width: 50%; padding: 1em; vertical-align: top; }
th:first-child, td:first-child { font-weight: 700; }

table.book-data-review {
	th, td { width: auto; }
	input[type=number] { width: 50px; }
	input[type=text] { width: 240px; }
	td:nth-child(3), td:last-child { text-align: right; }
}

/* Columns */
.one_two, .one_four { position: relative; text-align: left; float: left; margin: 1%; }
.one_two { width: 48%; }
.one_four { width: 23%; }
  body.users.index .one_four:last-child { text-align: right; }

/* Index Styles */
ul.app_index { @include box_sizing; position: relative; padding: 0em 1em; border: 1px solid #ccc; }
ul.app_index li { @include box_sizing; position: relative; width: 100%; border-bottom: 1px solid #ccc; padding: 1em; margin: 0; }
ul.app_index li:last-child { border-bottom: none; }

figure.index-logos { text-align: center; margin: 1em 0 0 0; width: 100%; clear: both; }
figure.index-logos img { max-width: 100%; height: auto; }

/* Navigation */
#book-nav {
	display: none;
	width: 48px;
	height: 104px;
	position: fixed;
	right: 1em;
	top: 50%;
	margin-top: -52px;
	nav { float: left; display: block; width: 48px; height: 47px; font-size: 0.001px; text-indent: -9999px; overflow: hidden; background-image: asset-url('up-down.png'); background-size: 100% auto; background-repeat: no-repeat; cursor: pointer; }
	nav:hover { opacity: 0.5; }
	nav.up { background-position: center top; margin-bottom: 10px; }
  nav.down { background-position: center bottom; }
}
#next-btn, #back-btn { position: fixed; bottom: 0px; text-decoration: underline; width: 60px; padding: 4px; height: 19px; }
#next-btn { right: 0px; }
#back-btn { left: 0px; }

/* Desktop No Margins */

@media only screen and (max-width: 900px) {
	#next-btn, #back-btn { background: #eee; }
}

/* Small Desktop */
@media only screen and (max-width: 730px) {
	div#progress-bar { display: none; }
  .one_four { width: 48%; }
  .one_four:nth-child(3) { clear: both; }
  body.users.index .one_four:last-child { width: 98%; }
}

@media only screen and (max-width: 570px) {
  .one_two, .one_four { width: 98%; text-align: center; }
  li span:last-child a { width: 100%; float: none; }
}

/* Mobile */

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-width: 640px) {
	body { background-image: none !important; background-color: #eee; }
	#wrapper { padding: 1em; min-height: 100%; box-shadow: none; }
  #book-nav { left: 1em; right: auto; filter: grayscale(100%); }
  #book-nav nav { opacity: 0.6; }
  #book-nav nav:hover { opacity: 0.3; }
}

@media only screen and (max-width: 480px) and (orientation: portrait), 
  only screen and (max-device-width: 480px) and (orientation: portrait), 
  only screen and (max-device-width: 640px) and (orientation: portrait) {
}