/* Meta Stuff */

$dk-primary: #2b71f2; // blue
$md-primary: #79a4f2;
$lt-primary: #e1eafa;
$dk-secondary: #67c9bb; // teal
$books-bg-color: #fff;
$main-font-family: Lato, HelveticaNeue-Light, "Helvetica Neue", Helvetica, sans-serif;

@mixin box_sizing {
-moz-box-sizing:    border-box;
-webkit-box-sizing: border-box;
box-sizing:         border-box;
}
@mixin round_corners {
border-radius: 1em; -moz-border-radius: 1em; -webkit-border-radius: 1em;
}
@mixin drop_cap {
	float: left; font-size: 3em; padding-top: 0.2em; padding-right: 8px; padding-left: 3px; font-style: normal; 
}
@mixin faux_3d_book {
  margin: 18px 18px 0px 0px; 
  clip-path: polygon(0% 0%, 18px -18px, 108% -18px, 108% 95%, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(0% 0%, 18px -18px, 108% -18px, 108% 95%, 100% 100%, 0% 100%);
  box-shadow: 0px -18px 0px #ccc, 18px 0px 0px #ccc, 18px -18px 0px #ccc; 
}

/* End Meta Stuff */

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,400italic,700,700italic);

body, html {
	margin:0;
	padding: 0;
}

body {
	font-family: $main-font-family;
	font-size:1em;
	text-align:center;
	background-image: asset-url('spineless_bg_invert.png');
	background-position: center 0px;
	background-repeat: repeat;
	font-weight: 400;
}
body.home, body.help { background-image: none; }

h1, h2, h3 { font-weight: 300; }
h1 { font-size: 2em; margin: 0; }
h2 { font-size: 2em; }
p { position: relative; text-align: left; }

a, a:visited, input[type=submit] { font-weight: 700; color: $dk-primary; text-decoration: none; }
a:hover, a:active, .here, input[type=submit]:hover { color: #ccc; }

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	outline: none;
}

	
header#sticky-bar > nav {
    h1, p { display: block; }
    h1 { width: 50%; float: left; text-align: left; }
    h1 a img { display: inline-block; max-width: 100%; }
    h1 a:hover img { filter: grayscale(100%); opacity: 0.3; }
    div.nav-wrapper {
        float: right; width: 50%; font-size: 0.75em;
		ul.menu { 
			display: none; position: absolute; right: 0px; top: 40px; z-index: 99; width: 16em; padding: 1em; background: rgba(253,253,253,0.9); 
			li { text-align: right; margin: 0 0 1em 0; }
			a { text-transform: uppercase; }
		}
    .open ul.menu { display: block; }
		div#progress-bar { 
			height: 23px; border: 1px solid $dk-primary; margin: 0.5em; float: right; width: 50%; position: relative;
			span#progress { display: block; position: absolute; top: 0px; left: 0px; height: 23px; width: 0px; background: $dk-primary; }
		}
		div#progress-percent {
			color: $dk-primary; text-align: right; font-size: 1.35em; padding: 0.5em; margin-right: 0.5em; font-weight: 300; float: right;
		}
    }
	div.nav-wrapper > ul > li, figure.help-icon {
		width: 25px;
		height: 25px;
		cursor: pointer;
		background-size: auto 25px;
		background-repeat: no-repeat;
		background-image: asset-url('menu-icons-sprite.png'); 
		float: right;
		margin: 0.5em;
		padding-bottom: 3px;
		border-bottom: 1px solid transparent;
		span {
			display: block;
			width: 1px;
			height: 1px;
			text-indent: -999999px;
			overflow: hidden;
		}
		&.main { background-position: left 0px; }
		&.toc { background-position: right 0px; }
    &:hover { background-image: asset-url('menu-icons-sprite_gray.png'); }
		&.open { background-image: asset-url('menu-icons-sprite.png'); border-color: $dk-primary; }
	}
}
ul.menu { cursor: auto; }

figure.help-icon { 
		display: inline-block;
		width: 25px;
		height: 25px;
		background-size: auto 25px;
		background-repeat: no-repeat;
		background-image: asset-url('menu-icons-sprite.png'); 
		&.main { background-position: left 0px; }
		&.toc { background-position: right 0px; }
}


#wrapper {
	width: 900px;
	max-width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	padding: 16px 3em 3em 3em;
	@include box_sizing;
	position: relative;
	background: #fff;
	border-left: 1px solid #f8f8f8;
	border-right: 1px solid #f8f8f8;
}
    body.books.show #wrapper { background: $books-bg-color; }
    body.home #wrapper, body.help #wrapper { min-height: 0px; padding-bottom: 1em; border: 0px; }


ul {
	position: relative;
	margin:0;
	padding:0;
	width:100%;
	list-style-type:none;
}

.alert { 
  font-size: 13px; font-weight: 700; text-align: center; padding: 1em; margin-bottom: 1em; 
  background: $lt-primary; color: $dk-primary; 
}
.alert.alert-success { margin-top: 0.2em; background: #f8f8f8; color: #aaa; }
.alert .close { float: right; margin-left: 1em; cursor: pointer; }
.alert .close:hover { color: #444; }

a.btn, input.btn {

	@include box_sizing;
	width: 200px; 
	display: block; 
	margin: 2px auto; 
	padding: 1em; 
	border: 1px solid $dk-primary; 
	text-align: center; 
	font-size: inherit; 
	cursor: pointer; 
	background: $lt-primary; 
	border-color: $dk-secondary;
	
    &:hover {
        background: #f8f8f8;
        border-color: #ccc;
    }
}

#profile {
  @include box_sizing;
  max-width: 740px; 
  width: 100%;
  margin: 0 auto;
  float: none;
	
  h3, p { 
		text-align: left; 
		margin-bottom: 1em; 
	}
}
ul.bookmarks { 
  text-align: right;
  li {
    position: relative;
    border-bottom: 1px solid #ccc;
    padding: 0.5em 0px;
    &:first-child { padding-top: 0; }
    &:last-child { border-bottom: none; padding-bottom: 0; }
  }
}
ul.bookmarks.left-align { 
		text-align: left; 
}

.bookmark-icon { 
  width: 12px; height: auto; fill: $lt-primary; margin-right: 0.6em;
}
a.user-bookmark {
  text-align: left;
  position: relative;
  @include box_sizing;
  @include round_corners;
  display: block;
  width: 20em;
  max-width: 99%;
  margin: 0.5%;
  padding: 0.2em 1em 0.75em 1em;
  background: $dk-primary;
  color: #fff;
  .bookmark-icon { fill: #fff; }
  &:hover { background: #ccc; }
} 
.bookmark-progress, .bookmark-progress > span {
  height: 4px;
  border-radius: 2px;
  display: block;
}
.bookmark-progress { 
  background: $md-primary; width: 90%; 
  position: absolute;
  bottom: 0.35em;
  left: 5%;
}
.bookmark-progress > span { background: #fff; }
.bookmark-delete { line-height: 1.75em; }

/* Homepage */
section.banner { 
  display: block;
  position: relative; 
  background: asset-url('spineless_bg.png') center bottom repeat; 
  width: 100%;
  margin: 0;
  min-height: 381px;
  @include box_sizing;
  padding: 1em;
  h2, p { 
    text-align: left;
  }
  h2 { font-weight: 700; font-size: 3em; }
  p { font-size: 1.25em; }
}
.banner-interior, .centered-book {
  @include box_sizing;
  position: relative; 
  width: 900px; 
	max-width: 100%;
  padding: 1em; 
  margin: 0 auto;
}
.catalog-row { 
  padding-top: 1em;
  padding-bottom: 1.5em;
  position: relative;
}
.catalog-row:nth-child(2n) {
  background: asset-url('spineless_bg.png') center bottom repeat; 
}
img.faux-book { width: 64%; height: auto; @include faux_3d_book; }
img.faux-book:hover { 
  box-shadow: 0px -18px 0px $dk-primary, 18px 0px 0px $dk-primary, 18px -18px 0px $dk-primary; 
  transition: box-shadow 500ms ease;
}
.book-title { font-size: 20px; text-transform: uppercase; font-weight: 700; color: #333; }
p.sample { @include round_corners; color: #555; padding: 1em; background: #f8f8f8; }
p.sample span { @include drop_cap; font-family: Times New Roman, serif; color: $md-primary; }

.btn.icon-btn { 
  position: relative; 
  padding-top: 3em;
  
  .primary-icon-head { 
    @include box_sizing;
    position: absolute; width: 100%; top: 0; left: 0; 
    background: $dk-primary;
    color: #fff;
    padding: 0.5em 1em;
  }
}
.icon-btn-icon { 
  fill: #fff; 
  width: 20px; height: auto; 
}
.book-bottom {
  fill: $md-primary;
}
a.btn.icon-btn:hover .primary-icon-head { background: #ccc; }

/* Help */
article#help {
  h3 { text-align: left; font-weight: 700; font-size: 1.35em; color: #555; }
  p { font-size: 1.1em; line-height: 1.5em; }
  .centered-book { padding: 1.75em 1em; }
}

/* Form Helpers */
form { @include box_sizing; @include round_corners; text-align: left; width: 100%; float: none; margin: 1em auto; background: #f8f8f8; padding: 1em; border: 1px solid #ccc; }
form label::after { content: ": "; }
label { display: block; }
input[type=text], input[type=email], input[type=password], textarea { 
	font-family: $main-font-family;
  width: 100%; position: relative; @include box_sizing; padding: 0.5em;
  font-size: 0.9em;
  &:focus {
    background-color: $lt-primary;
    border: 1px solid $dk-primary;
    outline: none;
    box-shadow: 0px 0px 3px $dk-primary;
    padding: 0.5em;
  }
}
input[type="file"]::-webkit-file-upload-button {
  background-color: $lt-primary;
  border-color: $dk-secondary;
  color: $dk-primary;
  &:hover, &:focus {
    color: #ccc;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    }
}
textarea { height: 180px; }
div.field_with_errors { display: inline; font-size: 1em; color: $dk-primary; input { border: 1px solid $dk-primary; } }
#error_explanation { color: $dk-primary; p { margin: 0; font-size: 1em; } }
.form-nav-links { text-align: center; }
div.example-markup {
    color: #aaa;
    padding: 0px 1em 1em 1em;
}
#toggle-samples { cursor: pointer; color: $dk-primary; text-decoration: underline; }
#toggle-samples:hover { color: #ccc; }
#alt-samples { 
  display: none; 
  padding: 1em;
  background: $lt-primary;
  input[type=radio] { clear: both; display: block; width: 9%; margin: 0 1% 1% 0; }
  input[type=radio], label { float: left; margin-bottom: 1em; }
  label { width: 90%; }
  p { color: #aaa; }
}
form label.sample_selector::after { content: ""; }
.selected { color: $dk-primary; }

/* Columns */
.one_two { position: relative; text-align: left; float: left; margin: 1%; }
.one_two { width: 48%; }

/* Table Helpers */
table { border: 1px solid #ccc; text-align: left; min-width: 100%; border-collapse: collapse; }
table.app_index, table.book-data-review, table.user-profile { 
  td, th { border: 1px solid #ccc; }
  th { background: #f8f8f8; }
}

th, td { padding: 1em; vertical-align: top; }
th:first-child, td:first-child { font-weight: 700; }

table.book-data-review {
	input[type=number] { width: 50px; }
	input[type=text] { width: 240px; }
	td:nth-child(3), td:last-child { text-align: right; }
}


/* Navigation */
#book-nav {
	display: none;
	width: 48px;
	height: 104px;
	position: fixed;
	right: 1em;
	top: 50%;
	margin-top: -52px;
	nav { 
    float: left; display: block; width: 50px; height: 50px; font-size: 0.001px; text-indent: -9999px; overflow: hidden; background: asset-url('up-down.png') 1px 1px no-repeat #fff; background-size: 100% auto; cursor: pointer; 
    border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px; -o-border-radius: 25px;
  }
	nav.up { background-position: center top; margin-bottom: 10px; }
  nav.down { background-position: center bottom; }
}
#next-btn, #back-btn { 
  position: fixed; bottom: 6px; width: 50px; height: 30px; 
  background: #fff;
  border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  -o-border-radius: 1em;
  svg.arrow {
    path, line { stroke: $dk-primary; stroke-width: 1.5px; fill: transparent; }
  }
}
#next-btn { right: 1em; }
#back-btn { left: 1em; }
#book-nav nav:hover {
  filter: grayscale(100%) brightness(150%);
}
#next-btn:hover, #back-btn:hover { 
  svg.arrow {
    path, line { stroke: #ccc; }
  }
}

/* Desktop No Margins */

@media only screen and (max-width: 900px) {
#next-btn { right: 0px; }
#back-btn { left: 0px; }
	#next-btn, #back-btn { background: $books-bg-color; }
  #book-nav nav { background-color: transparent; opacity: 0.4; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; }
  #book-nav nav:hover { filter: grayscale(100%) brightness(100%); opacity: 0.3; }
}

/* Small Desktop */
@media only screen and (max-width: 730px) {
	div#progress-bar { display: none; }
}

@media only screen and (max-width: 570px) {
  .one_two { width: 98%; text-align: center; }
}

/* Mobile */

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-width: 640px) {
  body { background-image: none !important; }
  body.books.show { background-color: $books-bg-color; }
	#wrapper { padding: 1em; min-height: 100%; box-shadow: none; }
  table.user-profile { 
    display: block; 
    border-left: none;
    border-bottom: none;
    border-right: none;
    tbody, thead, tr, th, td {
      display: block; 
    }
    th, td { 
      @include box_sizing;
      border-top: none;
      width: 100%; 
    }
  }
}

@media only screen and (max-width: 480px) and (orientation: portrait), 
  only screen and (max-device-width: 480px) and (orientation: portrait), 
  only screen and (max-device-width: 640px) and (orientation: portrait) {
}
