// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$dk-orange: #FF9900;
$lt-orange: #fffff8;

@font-face {
font-family: 'Open Sans';
src: asset-url('open_sans.woff') format('woff');
}

body, html {
margin:0;
padding: 0;

}
body {
font-family: Open Sans, HelveticaNeue-Light, "Helvetica Neue", Helvetica, sans-serif;
font-size:1em;
text-align:center;
background: #efefef;
font-weight: 400;
}
.clearfix:before,
.clearfix:after {
content: " "; /* 1 */
display: table; /* 2 */
}
.clearfix:after {
clear: both;
}
h1, h2, h3 {
font-weight:normal;
}
h1 { font-size: 4em; text-transform: lowercase; letter-spacing: -8px; margin:0; }
h2 { font-size: 2em; }
p { font-size: 1.5em; position: relative; }
#wrapper {
width: 900px;
max-width:100%;
min-height: 100vh;
margin:0 auto;
padding: 1em 3em;
box-shadow: 0 0 25px #ccc;
-moz-box-shadow: 0 0 25px #ccc;
-webkit-box-shadow: 0 0 25px #ccc;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
position: relative;
background: #fff;
}
li {
width: 33.3%;
float: left;
height:50px;
padding: 0;
color:black;
}
ul {
position: relative;
margin:0;
padding:0;
width:100%;
list-style-type:none;
}
a:link, a:visited {
text-decoration:none;
}
li > a {
font-size:1em;
text-transform:capitalize;
}
li > a, li > a:visited, .box a {
color:black;
}
.box a {
border-bottom:1px black solid;
}
li > a:hover, li > a:active, .box a:hover, .box a:active, .here {
color: $dk-orange;
}
.here {
border-bottom:1px black solid;
}
.box h1 a, a img {
border:none;
}
a.btn {
    width: 200px; display: block; margin: 2px auto; padding: 1em; border: 1px solid #000;
    &:hover {
        background: $lt-orange;
        border-color: $dk-orange;
    }
}

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px), only screen and (max-device-width: 640px) {
}

@media only screen and (max-width: 480px) and (orientation: portrait), only screen and (max-device-width: 480px) and (orientation: portrait), only screen and (max-device-width: 640px) and (orientation: portrait) {

}
