<header>
    <nav class="clearfix">
        <h1><a href="<%= root_path %>"><%= image_tag "spineless_logo.png", alt: "spineless" %></a></h1>
        <p><%= link_to "Login", login_path %></p>
        <p><%= link_to "Sign up", signup_path %></p>
    </nav>
</header>